.fancybox-overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.fancybox-image{
  height: 650px;
  width: 438px;
  margin: 0 auto;
  padding: 2% 0;
  position: relative;
}
.fancybox-image p{
  width: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 20px;
  color: #fff;
  background: #424242;
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 3px 3px 4px 0 #424242;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: -10px;
}
.fancybox-image p:hover{
  background: #000;
}
.fancybox-image img{
  height: 650px;
  width: 438px;
  margin: -325px 0 0 -219px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid #fff;
  border-radius: 10px;
}
