*{
  margin: 0;
  padding: 0;
}

.maket{
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 100px;
  text-shadow: 1px 1px 0 #bdbdbd;
  background: url(../img/paper.jpg);
  box-shadow: 5px 5px 5px 0 #bdbdbd;
  text-align: center;
}
.maket h1{
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
}
.maket h3{
  font-size: 25px;
}
.maket img{
  max-height: 300px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px 0 #424242;
  border-radius: 5px;
}
.maket h4{
  font-size: 20px;
}
.maket h4,
.maket p,
.maket li{
  margin-top: 20px;
  margin-left: 27%;
  text-align: left;
}
.maket p,
.maket li{
  margin-left: 30%;
  margin-top: 5px;
  font-family: 'Mark Script', cursive, sans-serif;
  font-size: 16px;
}
.maket a{
  font-family: 'Mark Script', cursive, sans-serif;
  font-size: 16px;
  color: #000;
}
.line{
  width: 83%;
  margin: 20px auto 0 auto;
  border-bottom: 1px solid #000;
}
