*{
  margin: 0;
  padding: 0;
}

.wrapper{
  height: auto;
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
  margin-bottom: 5%;
  padding-bottom: 30px;
  background: #35a541;
  box-shadow: 3px 3px 5px 0 #bdbdbd;
}

#quiz h1{
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  line-height: 30px;
  font-family: 'Zantroke', Arial, sans-serif;
  font-size: 40px;
  color: #fff;
  text-shadow: rgb(48, 149, 59) 1px 1px,
    rgb(48, 149, 59) 2px 2px,
    rgb(48, 149, 59) 3px 3px,
    rgb(48, 149, 59) 4px 4px,
    rgb(48, 149, 59) 5px 5px,
    rgb(48, 149, 59) 6px 6px,
    rgb(48, 149, 59) 7px 7px,
    rgb(48, 149, 59) 8px 8px,
    rgb(48, 149, 59) 9px 9px,
    rgb(48, 149, 59) 10px 10px,
    rgb(48, 149, 59) 11px 11px,
    rgb(48, 150, 59) 12px 12px,
    rgb(48, 151, 60) 13px 13px,
    rgb(49, 153, 60) 14px 14px,
    rgb(49, 154, 61) 15px 15px,
    rgb(50, 155, 61) 16px 16px,
    rgb(50, 157, 62) 17px 17px,
    rgb(50, 158, 62) 18px 18px,
    rgb(51, 159, 63) 19px 19px,
    rgb(51, 161, 63) 20px 20px,
    rgb(52, 162, 64) 21px 21px,
    rgb(52, 163, 64) 22px 22px,
    rgb(53, 165, 65) 23px 23px;
}

#quiz h2{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  padding-top: 15px;
  text-align: left;
  font-family: 'Zantroke', Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  text-shadow: rgb(48, 149, 59) 1px 1px,
    rgb(48, 149, 59) 2px 2px,
    rgb(48, 149, 59) 3px 3px,
    rgb(48, 149, 59) 4px 4px,
    rgb(48, 149, 59) 5px 5px,
    rgb(48, 149, 59) 6px 6px,
    rgb(48, 150, 59) 7px 7px,
    rgb(49, 152, 60) 8px 8px,
    rgb(49, 154, 61) 9px 9px,
    rgb(50, 156, 61) 10px 10px,
    rgb(50, 157, 62) 11px 11px,
    rgb(51, 159, 63) 12px 12px,
    rgb(51, 161, 63) 13px 13px,
    rgb(52, 163, 64) 14px 14px,
    rgb(53, 165, 65) 15px 15px;
}
#quiz h2:nth-child(2){
  padding-top: 120px;
}

#quiz input{
  text-align: left;
  margin-top: 7px;
  margin-left: 20px;
}
#quiz label{
  margin-left: 5px;
  color: #fff;
}

#myBtn{
  height: 40px;
  width: 30%;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  font-family: 'Zantroke', Arial, sans-serif;
  transition: background-color .5s;
}
#myBtn:hover, .btn:focus {
  background-color: #27ae60;
}


.modal-container{
  height: 200px;
  width: 550px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -275px;
  position: absolute;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #919191;
  box-shadow: 3px 3px 13px 0 #424242;
}
.modal-overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}
.modal-container h2{
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  font-size: 30px;
}
.results{
  height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 20px;
}
.clearStorage,
.closeButton{
  padding: 7px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  transition: background-color .5s;
}
.clearStorage{
  width: 230px;
  background: #fff;
  border: 1px solid #bdbdbd;
}
.closeButton{
  width: 60px;
  margin-left: 10px;
  margin-right: 20px;
  background: #00796b;
  border: 1px solid #bdbdbd;
  color: #fff;
}
.clearStorage:hover{
  background: #e0f2f1;
}
.closeButton:hover{
  background: #009688;
}
