*{
  margin: 0;
  padding: 0
}

.wrapper{
  margin: 0 auto;
  background: #f3e5f5;
}

.container{
  margin: 20px auto;
  width: 667px;
  height: 1000px;
  position: relative;
}

.select-comics{
  margin-top: 20px;
  margin-left: 5%;
  float: left;
}

.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
  position: relative;
  width: 667px;
  height: 1000px;
}
.movie-title {
  position: absolute;
  width: auto;
  right: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.566);
  padding: 10px;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
}
.jcarousel li img{
  width: 667px;
  height: 1000px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 500px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  border-radius: 30px;
  box-shadow: 0 0 2px #999;*/
}
.jcarousel-control-prev {
  left: -50px;
}
.jcarousel-control-next {
  right: -50px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: pointer;
}

.checkboxes,
.checkboxes-css{
  width: 35%;
  margin: 20px auto 20px 15%;
  float: left;
}
.checkboxes label,
.checkboxes-css label{
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 0 #fff;
}
.checkboxes label:first-child{
  margin-right: 79px;
}
.checkboxes label:nth-child(4){
  margin-right: 25px;
}
.checkboxes label:nth-child(7){
  margin-right: 10px;
}
.newCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox-sprite.png);
}
.newCheck input {
  display: none;
}

.check-css {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.checkboxes-css label {
  cursor: pointer;
}
.checkboxes-css label:after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-2.png);
  position: relative;
  top: 3px;
  margin-left: 15px;
}
.check-css:checked + label:after {
  background-position: 0 -17px;
}
.checkboxes-css label:hover:after {
  background-position: 0 -34px;
}
.check-css:checked + label:hover:after {
  background-position: 0 -51px;
}

.nav-menu{
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 #424242;
  clear: both;
}
.navigation{
  background: #6a1b9a;
}
.navigation li{
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  list-style: none;
  position: relative;
  z-index: 10000;
}
.navigation a{
  color: #f3e5f5;
  text-decoration: none;
}
.sub-menu{
  width: 150px;
  display: none;
}
.sub-menu li{
  display: block;
  font-size: 15px;
  background: #4a148c;
}
.sub-menu li:hover{
  background: #6a1b9a;
  border-left: 5px solid #ce93d8;
  box-sizing: border-box;
}
.navigation li ul{
  position: absolute;
  left: 0;
  top: 53px;
}
.navigation li li{
  position: relative;
}
.navigation li li ul{
  position: absolute;
  top: 0;
  left: 145px;
}

.newOne{
  height: 100px;
  clear: both;
}
