.wrapper{
  height: 2326px;
  width: 100%;
  background: #f9f9f9;
  padding-bottom: 200px;
}

.header{
  height: 516px;
  background-image: url(../img/back-top.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  margin: 0 auto 26px auto;
  padding-top: 66px;
  text-align: center;
}
.logo__text,
.logo__text-end{
  display: inline-block;
  font-size: 48px;
  font-family: 'League Gothic', Arial, sans-serif;
  text-transform: uppercase;
}
.logo__text{
  color: #fff;
  text-shadow: 0 2px 0 #919191;
}
.logo__text-end{
  margin-left: -6px;
  background: linear-gradient(#745083, #322539);
  -webkit-background-clip: text;
  color: transparent;
}
.menu-header{
  height: 0;
  overflow: hidden;
}
.menu{
  text-align: center;
  position: relative;
}
.main-menu{
  width: 276px;
  margin: 0 auto;
  display: block;
  line-height: 24px;
  text-transform: uppercase;
}
.main-menu__item:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 50px;
  border-bottom: 2px solid magenta;
}
.main-menu__link,
.dropdown__link{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: 'League Gothic', Arial, sans-serif;
  padding: 5px 0px 5px 0px;
  width: 246px;
  margin: 0 auto;
}
.main-menu__dropdown{
  display: none;
  background: rgba(53, 39, 61, 0.1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu__item:hover a{
  background: rgba(53, 39, 61, 0.9);
  border-bottom: 2px solid magenta;
}
.main-menu__item:hover .main-menu__dropdown{
  display: block;
}
.dropdown__item{
  display: block;
}

.nav{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}
.nav__previous,
.nav__info,
.iphone,
.nav__next{
  display: inline-block;
}
.nav__previous .link{
  height: 100px;
  width: 28px;
  background: url(../img/arrows-sprite.png) 0 50% no-repeat;
}

.nav__info{
  height: 78px;
  width: 215px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  overflow: hidden;
}
.nav__info .title{
  height: auto;
  width: 100%;
  color: #fefefe;
  letter-spacing: -0.2px;
  font-size: 36px;
  font-family: 'League Gothic', Arial, sans-serif;
  text-transform: capitalize;
  text-shadow: 0 1px 0 #000;
}
.nav__info .sub-title{
  height: auto;
  width: 100%;
  color: #edbfff;
  letter-spacing: -0.9px;
  white-space: nowrap;
  font-size: 17px;
  font-family: 'Myriad Pro', 'League Gothic', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000;
}
.nav__info .text{
  height: auto;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-family: Times, Arial, sans-serif;
  text-shadow: 1px 1px 0 #000;
}

.iphone{
  height: 0;
  width: 0;
  background-image: url(../img/iphone.png);
}
.nav__next .link{
  height: 100px;
  width: 28px;
  background: url(../img/arrows-sprite.png) -27px 50% no-repeat;
}
.slider__dots{
  text-align: center;
  margin-top: 58px;
  margin-left: 12px;
}
.radio1,
.radio2,
.radio3,
.radio4 {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio1 + label,
.radio2 + label,
.radio3 + label,
.radio4 + label {
  cursor: pointer;
}
.radio1:not(checked),
.radio2:not(checked),
.radio3:not(checked),
.radio4:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio1:not(checked) + label,
.radio2:not(checked) + label,
.radio3:not(checked) + label,
.radio4:not(checked) + label {
  position: relative;
  padding: 0 0 0 21px;
}
.radio1:not(checked) + label:before,
.radio2:not(checked) + label:before,
.radio3:not(checked) + label:before,
.radio4:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.radio1:not(checked) + label:after,
.radio2:not(checked) + label:after,
.radio3:not(checked) + label:after,
.radio4:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all 0.7s;
}
.radio1:checked + label:after,
.radio2:checked + label:after,
.radio3:checked + label:after,
.radio4:checked + label:after{
  content: '';
  position: absolute;
  top: -1px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 1;
  transition: all 0.7s;
}

.about{
  height: 599px;
  background: linear-gradient(#745083, #322539);
  box-shadow: 0 1px 2px 0 #000, inset 0 -1px 0 0 #21333b;
  border-top: 1px solid #35273c;
  border-bottom: 1px solid #12191f;
  box-sizing: border-box;
}
.about__first,
.about__second,
.about__third{
  width: 265px;
  margin: 0 auto;
  position: relative;
}
.about__first .key,
.about__second .key,
.about__third .key{
  height: 30px;
  width: 30px;
  background: url(../img/keys.png) 0 0 no-repeat;
  float: left;
}
.about__first .title,
.about__first .text,
.about__first .link,
.about__second .title,
.about__second .text,
.about__second .link,
.about__third .title,
.about__third .text,
.about__third .link{
  width: 100%;
  margin-left: 53px;
  font-family: 'League Gothic', Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000;
}
.about__first .title{
  margin-top: 70px;
}
.about__second .title{
  margin-top: 56px;
}
.about__third .title{
  margin-top: 70px;
}
.about__first .title,
.about__second .title,
.about__third .title{
  font-size: 24px;
}
.about__first .text,
.about__second .text,
.about__third .text{
  height: 75px;
  width: auto;
  margin-top: 3px;
  margin-bottom: 13px;
  line-height: 24px;
  letter-spacing: -0.3px;
  font-family: 'OpenSans Regular', Arial, sans-serif;
  font-size: 16px;
  text-transform: none;
  overflow: hidden;
}
.about__first .more,
.about__second .more,
.about__third .more{
  width: auto;
  float: right;
}
.about__first .link,
.about__second .link,
.about__third .link{
  font-size: 18px;
  text-decoration: none;
}
.about__first .link:hover,
.about__second .link:hover,
.about__third .link:hover{
  text-shadow: 1px 1px 3px #fff;
}

.main-slider{
  height: 400px;
  margin-bottom: 31px;
}
.slider{
  height: auto;
  width: inherit;
  padding-top: 70px;
}
.slider__back{
  height: 272px;
  width: 257px;
  left: 50%;
  transform: translateX(-46%);
  background: #fff;
  box-shadow: 0 0 2px 1px #eee;
  position: relative;
}
.slider__icon{
  height: 50px;
  width: 50px;
  background: url(../img/circle-sprite.png) 0 0 no-repeat;
  position: absolute;
  top: 18px;
  left: -23px;
}
.slider__header1,
.slider__header2{
  padding: 25px 36px 0;
  font-family: 'League Gothic', Arial, sans-serif;
  color: #454545;
  font-size: 25px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.slider__header2{
  padding-top: 0;
  color: #edbfff;
}
.slider__text{
  height: 170px;
  line-height: 24.5px;
  padding-left: 38px;
  padding-right: 38px;
  overflow: hidden;
  font-family: 'OpenSans Regular', Arial, sans-serif;
  color: #454545;
  font-size: 16px;
  letter-spacing: -0.3px;
}
.radios{
  margin-top: 28px;
  margin-left: 48px;
}

.radios .radio1:not(checked) + label:before,
.radios .radio2:not(checked) + label:before,
.radios .radio3:not(checked) + label:before,
.radios .radio4:not(checked) + label:before {
  top: -3px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #e0e0e0;
  background: #fff;
}
.radios .radio1:not(checked) + label:after,
.radios .radio2:not(checked) + label:after,
.radios .radio3:not(checked) + label:after,
.radios .radio4:not(checked) + label:after {
  top: 0;
  left: 3px;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 1);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
}
.radios .radio1:checked + label:after,
.radios .radio2:checked + label:after,
.radios .radio3:checked + label:after,
.radios .radio4:checked + label:after{
  top: 0;
  left: 3px;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 1);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
}

.updates__title,
.updates__first,
.updates__second,
.updates__third{
  width: 284px;
  margin: 0 auto;
}
.updates__title{
  font-family: 'League Gothic', Arial, sans-serif;
  color: #454545;
  font-size: 30px;
  text-transform: uppercase;
}
.updates__first .icon,
.updates__second .icon,
.updates__third .icon{
  height: 49px;
  width: 49px;
  margin: -4px 17px 0 1px;
  float: left;
  clear: both;
}
.updates__first .icon{
  background: url(../img/circle-sprite.png) 0 -50px no-repeat;
}
.updates__second .icon{
  background: url(../img/circle-sprite.png) 0 -100px no-repeat;
}
.updates__third .icon{
  background: url(../img/circle-sprite.png) 0 -150px no-repeat;
}
.updates__first .link,
.updates__second .link,
.updates__third .link{
  text-decoration: none;
}
.updates__first .post,
.updates__second .post,
.updates__third .post{
  width: auto;
  font-family: 'OpenSans Extrabold', Arial, sans-serif;
  color: #454545;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.updates__first .post{
  margin-top: 20px;
}
.updates__second .post{
  margin-top: 26px;
}
.updates__third .post{
  margin-top: 32px;
}
.updates__first .date,
.updates__second .date,
.updates__third .date{
  width: auto;
  margin-top: 7px;
  letter-spacing: -0.4px;
  font-family: 'OpenSans Regular', Arial, sans-serif;
  color: #454545;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.updates__more-posts .link{
  width: auto;
  margin-top: 23px;
  margin-right: 8px;
  letter-spacing: -0.3px;
  float: right;
  font-family: 'League Gothic', Arial, sans-serif;
  color: #454545;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

.logotypes{
  text-align: center;
  clear: both;
  margin-top: 130px;
  padding-top: 52px;
  border-top: 1px solid #929292;
}
.logotypes__labels{
  height: 300px;
  width: 240px;
  margin: 0 auto;
  background: url(../img/labels.png) 0 0 no-repeat;
}

.news{
  height: 0;
  overflow: hidden;
}
.copy{
  height: 0;
  overflow: hidden;
}

footer{
  height: 202px;
  margin-top: -202px;
  background-image: url(../img/back-bottom.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  clear: both;
}
.menu-footer{
  height: 0;
  overflow: hidden;
}
.designed-by{
  margin: 0 auto;
  padding-top: 40px;
  letter-spacing: -0.3px;
}
.design{
  font-family: 'OpenSans Regular', Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 0 #000;
}
.design-author{
  font-family: 'OpenSans Extrabold', Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 0 #000;
}


@media (min-width: 480px){
  .wrapper{
    height: 2837px;
  }
  .header{
    height: 548px;
  }
  .nav{
    height: 246px;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 29px;
  }
  .nav__previous,
  .nav__info,
  .iphone,
  .nav__next {
    transform: translateY(36%);
  }
  .nav__info{
    height: 84px;
    margin: 0 1% 12px;
    padding-right: 190px;
    transform: translateY(74%);
  }
  .sub-title{
    font-size: 18px;

  }
  .iphone{
    height: 304px;
    width: 192px;
    position: absolute;
    top: -9px;
    transform: translateX(-100.5%);
  }
  .slider__dots{
    margin-top: 169px;
  }
  .about__first,
  .about__second,
  .about__third {
    width: 427px;
  }
  .about__first .key,
  .about__second .key,
  .about__third .key{
    margin: 0 21px 0 3px;
  }
  .about__first .title{
    margin-top: 76px;
  }
  .about__third .title{
    margin-top: 60px;
  }
  .slider__back{
    width: 414px;
    transform: translateX(-47.5%);
  }
  .slider__header1,
  .slider__header2 {
    display: inline-block;
    padding: 28px 0 14px 39px;
    font-size: 30px;
  }
  .slider__header2 {
    padding-left: 4px;
  }
  .radios{
    margin-top: 28px;
    margin-left: 17px;
  }
  .updates__title{
    width: 316px;
  }
  .updates__first,
  .updates__second,
  .updates__third{
    width: 330px;
  }
  .updates .icon{
    margin: -4px 17px 0 8px;
  }
  .updates__second .post{
    margin-top: 29px;
  }
  .updates__third .post{
    margin-top: 27px;
  }
  .updates__more-posts .link {
    margin-top: 25px;
    margin-right: -15px;
  }

  .logotypes{
    margin-top: 132px;
  }
  .logotypes__labels{
    width: 353px;
    background: url(../img/labels480.png) 0 0 no-repeat;
    transform: translate(1%, -5%);
  }
  .news{
    height: 672px;
    margin-top: -120px;
    background: #ececec;
  }
  .news__category{
    width: 445px;
    margin: 0 auto;
    font-family: 'OpenSans Regular', Arial, sans-serif;
    font-size: 16px;
    color: #787878;
    text-shadow: 1px 1px 0 #fff;
  }
  .name{
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 24px;
    color: #454545;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
  }
  .lines{
    height: 95px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: -24px;
  }
  .menu-footer{
    text-align: center;
    overflow: visible;
  }
  .menu__bottom{
    padding-top: 46px;
    letter-spacing: -0.2px;
  }
  .menu__item{
    display: inline-block;
    padding: 0 10px 0;
  }
  .menu__link{
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-shadow: 0px 2px 0 #454545;
    color: #eee;
    text-decoration: none;
  }
  .menu__link:hover{
    color: #fff;
  }
  .designed-by{
    padding-top: 100px;
  }
}

@media (min-width: 768px){
  .wrapper{
    height: 2147px;
  }
  .header{
    height: 798px;
  }
  .logo{
    padding-left: 18px;
    text-align: left;
  }
  .menu{
    height: 0;
    overflow: hidden;
  }
  .menu-header{
    overflow: visible;
    text-align: left;
  }
  .menu__top{
    padding-top: 3px;
    letter-spacing: -0.2px;
  }
  .menu__top .menu__item{
    padding: 0 24px 0;
  }
  .menu__top .menu__link{
    font-size: 24px;
    color: #fff;
    text-shadow: 0 2px 0 #9e9e9e;
  }
  .menu__top .menu__link:hover{
    border-bottom: 2px solid #edbfff;
  }

  .nav{
    height: 400px;
    margin-top: 104px;
  }
  .nav__previous,
  .nav__info,
  .iphone,
  .nav__next {
    transform: translateY(8.5%);
  }
  .nav__info{
    height: 221px;
    width: 498px;
    transform: translateY(35.5%);
  }
  .nav__info .title{
    letter-spacing: -1.2px;
    font-size: 50px;
  }
  .nav__info .sub-title{
    letter-spacing: -1.7px;
    font-size: 25px;
  }
  .nav__info .text{
    width: 282px;
    margin-top: -59px;
    letter-spacing: -0.3px;
    line-height: 28px;
    font-size: 18px;
  }
  .iphone{
    height: 434px;
    width: 274px;
    background: url(../img/iphone768.png) 0 0 no-repeat;
    transform: translate(-107%, -3%);
  }
  .slider__dots{
    margin: 205px 140px 0 0;
    float: right;
  }

  .about{
    height: 342px;
    text-align: center;
  }
  .about__first,
  .about__second,
  .about__third{
    width: 190px;
    margin-left: 14px;
    display: inline-block;
    text-align: left;
  }
  .about__first{
    margin-left: -88px;
  }
  .about__second,
  .about__third{
    margin-left: 54px;
  }
  .about__first .key{
    margin: 79px 0 0 15px;
  }
  .about__second .key{
    margin: 0 0 0 19px;
  }
  .about__third .key{
    margin: 0 0 0 32px;
  }
  .about__first .title{
    margin: 0 0 0 67px;
    transform: translateY(-132%);
  }
  .about__second .title{
    margin: 0 0 0 71px;
    transform: translateY(-132%);
  }
  .about__third .title{
    margin: 0 0 0 85px;
    transform: translateY(-132%);
  }
  .about__first .text,
  .about__second .text,
  .about__third .text{
    height: 145px;
    width: 160px;
    margin: -29px 0 3px 68px;
  }
  .about__second .text{
    margin-left: 72px;
  }
  .about__third .text{
    margin-left: 85px;
  }
  .about__first .more{
    margin-right: -32px;
  }
  .about__second .more{
    margin-right: -38px;
  }
  .about__third .more{
    margin-right: -49px;
  }
  .about__first .link,
  .about__second .link,
  .about__third .link{
    width: auto;
    font-size: 19px;
  }

  .main{
    height: 728px;
    text-align: center;
  }
  .main-slider,
  .updates{
    display: inline-block;
  }
  .main-slider{
    margin-left: -32px;
    text-align: left;
  }
  .slider{
    padding-top: 101px;
  }
  .slider__back{
    width: 312px;
    margin-left: 23px;
  }
  .slider__header1,
  .slider__header2{
    padding-bottom: 0;
    display: block;
    font-size: 25px;
  }
  .slider__header2{
    padding: 0 0 7px 39px;
  }
  .slider__text{
    height: 145px;
    letter-spacing: -0.2px;
  }
  .radios{
    margin-top: 29px;
    margin-right: 91px;
  }

  .updates{
    margin-left: 67px;
    text-align: left;
    transform: translateY(8%);
  }
  .updates__more-posts .link{
    margin-right: -5px;
  }

  .logotypes{
    margin-top: 56px;
  }
  .logotypes__labels{
    width: 725px;
    background: url(../img/labels768.png) 0 0 no-repeat;
    transform: translate(0, -9%);
  }

  .news{
    height: 397px;
    text-align: center;
  }
  .above,
  .middle,
  .low{
    width: 200px;
    display: inline-block;
    text-align: left;
  }
  .name{
    margin: 102px 0 10px 19px;
  }
  .news__category{
    width: 210px;
  }
  .lines{
    height: 170px;
    margin-left: 19px;
    letter-spacing: -0.2px;
  }
  .above{
    margin-right: 52px;
    margin-left: -29px;
  }
  .middle{
    margin-right: 50px;
  }

  .menu-footer{
    float: left;
  }
  .menu__item{
    padding: 0 19px 0;
  }
  .designed-by{
    float: right;
    margin-right: 24px;
  }
}

@media (min-width: 1000px){
  .wrapper{
    height: 2106px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .header{
    height: 846px;
  }
  .logo{
    float: left;
  }
  .menu-header{
    float: right;
    margin-top: 71px;
  }
  .menu__top .menu__item {
    padding: 0 25px 0;
  }

  .nav{
    margin-top: 278px;
    text-align: center;
  }
  .nav__previous,
  .nav__next{
    display: none;
  }
  .nav__info{
    height: 280px;
    width: 63%;
    margin-left: 7px;
    margin-right: 16%;
    transform: translateY(23%);
  }
  .nav__info .title{
    font-size: 60px;
    letter-spacing: -0.5px;
  }
  .nav__info .sub-title{
    margin-top: -10px;
    font-size: 32px;
  }
  .nav__info .text{
    width: 520px;
    margin-top: -35px;
    margin-left: 8px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .iphone{
    transform: translate(-131%, -2%);
  }
  .slider__dots {
    margin: 202px -55% 0 0;
    float: none;
  }
  .main{
    height: 735px;
    border-bottom: 1px solid #454545;
  }
  .about__first,
  .about__second,
  .about__third{
    width: 250px;
  }
  .about__first{
    margin-left: -82px;
  }
  .about__second{
    margin-left: 77px;
  }
  .about__first .key{
    margin: 82px 0 0 15px;
  }
  .about__second .key{
    margin-left: 23px;
    background: url(../img/keys.png) -31px 0 no-repeat;
  }
  .about__third .key{
    margin-left: 52px;
    background: url(../img/keys.png) -62px 0 no-repeat;
  }
  .about__first .title,
  .about__second .title,
  .about__third .title{
    width: 180px;
    font-size: 29px;
    letter-spacing: 0.2px;
  }
  .about__first .title{
    margin: 2px 0 0px 69px;
  }
  .about__second .title{
    margin: 0 0 0px 77px;
  }
  .about__third .title{
    margin: 0 0 0px 106px;
  }
  .about__first .text,
  .about__second .text,
  .about__third .text{
    height: 120px;
    width: 230px;
  }
  .about__first .text{
    margin-left: 66px;
  }
  .about__second .text{
    margin-left: 74px;
  }
  .about__third .text{
    margin-left: 103px;
  }
  .about__first .more{
    margin-top: 12px;
    margin-right: -35px;
  }
  .about__second .more{
    margin-top: 12px;
    margin-right: -47px;
  }
  .about__third .more{
    margin-top: 12px;
    margin-right: -75px;
  }
  .main-slider{
    margin-left: -56px;
  }
  .slider__back{
    width: 425px;
    margin-left: -40px;
  }
  .slider__header1,
  .slider__header2{
    display: inline-block;
    padding: 28px 0 14px 40px;
    font-size: 30px;
  }
  .slider__header2{
    padding: 0 0 9px 4px;
  }
  .slider__text{
    height: 170px;
    margin-top: -5px;
  }
  .radios{
    margin: 28px 14% 0 0;
  }
  .updates{
    margin-left: 41px;
    transform: translateY(-23%);
  }
  .updates__more-posts{
    margin-top: 1px;
    margin-right: -105px;
  }
  .logotypes {
    margin-top: 27px;
  }
  .news{
    height: 405px;
    margin-top: -129px;
  }
  .above,
  .middle,
  .low{
    margin-top: -7px;
  }
  .above{
    margin-left: -27px;
  }
  .middle{
    margin-right: 75px;
  }
  .news__category{
    width: 280px;
  }
  .above .name span{
    display: none;
  }
  .above .name:before{
    content: "PIGBULL";
    font-size: 49px;
    letter-spacing: -0.7px;
  }
  .above .name:after{
    content: "ER";
    font-size: 49px;
    color: #b9b9b9;
    letter-spacing: -0.7px;
  }
  .middle{
    transform: translate(1%, 0.5%);
  }
  .low{
    transform: translate(-6%, 0.5%);
  }
  .middle .name span{
    display: none;
  }
  .middle .name:before{
    content: "RECENT COMMENTS";
    font-size: 30px;
  }
  .middle .lines,
  .low .lines{
    height: 170px;
    margin-top: -3px;
  }
  .low .name{
    font-size: 30px;
  }
  .copy{
    height: auto;
    margin: 14px 0 11px 20px;
    overflow: visible;
    color: #b9b9b9;
    font-size: 15px;
    font-family: 'OpenSans Regular', Arial, sans-serif;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
  }
  .lines{
    height: 120px;
  }

  footer{
    height: 116px;
    max-width: 1000px;
    margin: -114px auto 0 auto;
  }
  .designed-by{
    margin-right: 22px;
    transform: translateY(-42%);
  }
}
