.wrapper{
  height: 2106px;
}
.header{
  height: 846px;
}
.logo{
  float: left;
  margin-left: 10px;
}
.logo__text-end{
  margin-left: -6px;
  color: #322539;
}
.menu{
  height: 0;
  overflow: hidden;
}
.menu-header{
  float: right;
  margin-top: 75px;
  overflow: visible;
}
.menu__top{
  padding-top: 3px;
  letter-spacing: -0.2px;
}
.menu__top .menu__item{
  padding: 0 25px 0;
  display: inline;
}
.menu__top .menu__link{
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 0 #9e9e9e;
}
.menu__top .menu__link:hover{
  border-bottom: 2px solid #edbfff;
}

.nav{
  height: 400px;
  margin-top: 278px;
  text-align: center;
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  zoom: 1;
  position: relative;
}
.nav__previous,
.nav__next{
  display: none;
}
.nav__info{
  height: 285px;
  width: 50%;
  float: left;
  margin-left: 10px;
  margin-right: 16%;
  transform: translateY(23%);
}
.nav__info .title{
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
.nav__info .sub-title{
  margin-top: -10px;
  font-size: 32px;
}
.nav__info .text{
  width: 520px;
  margin-top: 5px;
  margin-left: 8px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.iphone{
  height: 434px;
  width: 274px;
  float: right;
  background: url(../img/iphone768.png) 0 0 no-repeat;
  position: absolute;
  top: -20px;
  right: 12%;
  z-index: 100;
}
.slider__dots {
  position: absolute;
  z-index: 100;
  right: 10%;
  bottom: -80px;
  float: none;
}
.main{
  height: 735px;
  border-bottom: 1px solid #454545;
}
.about{
  height: 342px;
  filter:
  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#745083', endColorstr='#322539');
}
.about__first,
.about__second,
.about__third{
  width: 250px;
}
.about__first,
.about__second,
.about__third{
  float: left;
  margin-left: 7%;
}
.about__first .key{
  margin: 75px 0 0 15px;
}
.about__second .key{
  margin-top: 75px;
  margin-left: 23px;
  background: url(../img/keys.png) -31px 0 no-repeat;
}
.about__third .key{
  margin-top: 75px;
  margin-left: 52px;
  background: url(../img/keys.png) -62px 0 no-repeat;
}
.about__first .title,
.about__second .title,
.about__third .title{
  width: 180px;
  font-size: 29px;
  letter-spacing: 0.2px;
}
.about__first .title{
  margin: -30px 0 0px 69px;
}
.about__second .title{
  margin: -30px 0 0px 77px;
}
.about__third .title{
  margin: -30px 0 0px 106px;
}
.about__first .text,
.about__second .text,
.about__third .text{
  height: 120px;
  width: 230px;
}
.about__first .text{
  margin-left: 66px;
}
.about__second .text{
  margin-left: 74px;
}
.about__third .text{
  margin-left: 103px;
}
.about__first .more{
  margin-top: 12px;
  margin-right: -35px;
}
.about__second .more{
  margin-top: 12px;
  margin-right: -47px;
}
.about__third .more{
  margin-top: 12px;
  margin-right: -75px;
}
.main{
  height: 735px;
  border-bottom: 1px solid #454545;
}
.slider{
  position: relative;
}
.main-slider{
  float: left;
}
.slider__back{
  width: 425px;
  margin-left: -40px;
}
.slider__header1,
.slider__header2{
  display: inline-block;
  padding: 28px 0 14px 40px;
  font-size: 30px;
}
.slider__header2{
  padding: 0 0 9px 4px;
}
.slider__text{
  height: 170px;
  margin-top: -5px;
}
.radios{
  position: absolute;
  bottom: -35px;
  margin: 0 -17% 0 0;
}
.updates{
  margin-top: 90px;
  margin-right: 23%;
  float: right;
}
.updates__more-posts{
  margin-top: 1px;
  margin-right: -105px;
}
.updates__first,
.updates__second,
.updates__third{
  width: 330px;
}
.logotypes {
  margin-top: 27px;
}
.logotypes__labels{
  width: 725px;
  background: url(../img/labels768.png) 0 0 no-repeat;
}
.news{
  height: 405px;
  margin-top: -129px;
  text-align: center;
  background: #ececec;
}
.above,
.middle,
.low{
  margin-top: -7px;
  text-align: left;
}
.above{
  margin-top: 70px;
}
.middle{
  margin-right: 75px;
}
.news__category{
  width: 280px;
  margin-left: 7%;
  float: left;
}
.above .name span{
  display: none;
}
.above .name:before{
  content: "PIGBULL";
  font-size: 49px;
  letter-spacing: -0.7px;
}
.above .name:after{
  content: "ER";
  font-size: 49px;
  color: #b9b9b9;
  letter-spacing: -0.7px;
}
.middle{
  margin-top: 65px;
  margin-right: 0;
}
.low{
  margin-top: 70px;
}
.middle .name span{
  display: none;
}
.middle .name:before{
  content: "RECENT COMMENTS";
  font-size: 30px;
}
.middle .lines,
.low .lines{
  height: 170px;
  margin-top: -3px;
}
.low .name{
  font-size: 30px;
}
.copy{
  height: auto;
  margin: 14px 0 11px 20px;
  overflow: visible;
  color: #b9b9b9;
  font-size: 15px;
  font-family: 'OpenSans Regular', Arial, sans-serif;
  font-style: italic;
  text-shadow: 0 1px 0 #fff;
}
.lines{
  height: 120px;
  line-height: 24px;
  overflow: hidden;
}

footer{
  height: 116px;
  margin-top: -114px;
}
.menu-footer{
  text-align: center;
  overflow: visible;
  float: left;
}
.menu__bottom{
  padding-top: 46px;
  letter-spacing: -0.2px;
}
.menu__item{
  display: inline-block;
  padding: 0 10px 0;
}
.menu__link{
  font-family: 'League Gothic', Arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  text-shadow: 0px 2px 0 #454545;
  color: #eee;
  text-decoration: none;
}
.menu__link:hover{
  color: #fff;
}
.designed-by{
  margin-right: 22px;
  margin-top: 10px;
  float: right;
}
