.wrapper{
  height: 1310px;;
  width: 100%;
  background: #fff;
  background-size: cover;
}

.clearfix:after{
  content: '';
  clear: both;
  display: block;
}

.content{
  height: inherit;
  width: 910px;
  margin: 0 auto;
}
.telephone{
  height: 27px;
  width: auto;
  float: left;
  margin: 22px 0 5px 7px;
}
.phone-icon{
  float: left;
}
.telephone span{
  height: 23px;
  margin-left: 4px;
  line-height: 23px;
  float: left;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 18px;
  color: #5e696d;
  letter-spacing: 0.47px;
}

.mini-menu{
  height: 20px;
  width: 75px;
  float: right;
  margin: 19px 7px 8px 17px;
  border-radius: 15px;
  border: 1px solid #bdbdbd;
  box-shadow: 1px 2px 3px 0px #bdbdbd;
  position: relative;
}
.first{
  position: absolute;
  top: 1px;
  left: 8px;
}
.second{
  position: absolute;
  top: 1px;
  left: 28px;
}
.third{
  position: absolute;
  top: 1px;
  right: 12px;
}

.login-form{
  height: 25px;
  width: 495px;
  float: right;
  margin-top: 18px;
  margin-bottom: 11px;
  border-radius: 5px;
  background: linear-gradient(#206988, #114165, #0c3256);
  box-shadow: 1px 2px 4px 0 #424242;
  position: relative;
}
.man{
  position: absolute;
  top: 5px;
  left: 7px;
}
.authentication{
  position: absolute;
  top: 4px;
  left: 24px;
}
.login,
.password{
  height: 10px;
  width: 110px;
  display: inline-block;
  vertical-align: middle;
}
.login::-webkit-input-placeholder,
.password::-webkit-input-placeholder{
  padding-left: 3px;
  line-height: 13px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 11px;
  color: #97a2a6;
}
.login{
  margin-right: 3px;
}
.enter{
  background: none;
  border: none;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 11px;
  color: #fff;
}
.enter:hover{
  cursor: pointer;
}
.line{
  position: absolute;
  top: 8px;
  right: 193px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 13px;
  color: #fff;
}
.register{
  position: absolute;
  top: 8px;
  right: 122px;
  text-decoration: none;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 11px;
  color: #fff;
}
.forget a{
  position: absolute;
  top: 7px;
  right: 10px;
  text-decoration: none;
  border-bottom: 1px solid #bfbfbf;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #bfbfbf;
}

header{
  height: auto;
  width: 910px;
}
.banner{
  height: auto;
  margin: 0 auto 0 auto;
}

nav{
  height: 34px;
  margin: 3px 0 11px;
  background: linear-gradient(#576068, #000);
  border: #0d1642;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 0 #424242;
}
.menu ul{
  margin-left: 131px;
  margin-top: 1px;
  float: left;
  line-height: 34px;
  text-transform: uppercase;
}
.menu ul li{
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #b1bcc0;
}
.menu ul li a{
  color: #b1bcc0;
  text-decoration: none;
}
.menu ul li:hover{
  background: linear-gradient(#206988, #114165, #0c3256);
  border-radius: 50px;
  cursor: pointer;
}
.menu ul li:hover a{
  color: #fff;
}
.basket img{
  margin: 8px 0 0 35px;
}
.basket ul{
  margin-right: 9px;
  float: right;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.basket ul li{
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
}
.goods,
.amount{
  font-size: 11px;
  font-family: Arial, Tahoma, sans-serif;
  color: #929b9f;
}
.basket ul li a{
  color: #0d5a8f;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Tahoma, sans-serif;
}

.search{
  height: 133px;
  margin: 0 auto;
}
.auto-search{
  height: 133px;
  width: 413px;
  margin-left: 4px;
  margin-right: 14px;
  float: left;
  border: 1px solid #b0b0b1;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 #919191;
}
.search-header,
.tyre-header{
  width: inherit;
  line-height: 18px;
  display: table;
  letter-spacing: 1.2px;
}
.header1,
.header2,
.header3,
.header-tyre,
.header-disk{
  font-family: Arial, Tahoma, sans-serif;
  color: #154467;
  font-weight: bold;
  font-size: 12px;
  display: table-cell;
  text-align: center;
}
.header1{
  padding-left: 20px;
  font-size: 10px;
  display: table-cell;
  text-align: left;
}
.header3{
  padding-right: 20px;
  font-size: 10px;
  display: table-cell;
  text-align: right;
}
.auto-main{
  width: 384px;
  margin: -3px 5px 0 20px;
  display: table;
}
.first-col,
.first-coltyre,
.third-col{
  width: 75px;
  line-height: 8px;
  display: table-cell;
}
.first-col p,
.first-coltyre p,
.third-col p{
  margin: 8px 0 0 -3px;
}
.car,
.model,
.modelR{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 9px;
  color: #77858b;
}
.model,
.modelR{
  color: #000;
  font-size: 10px;
}
.selections,
.selections2,
.selections-tyre{
  width: 100px;
  display: table-cell;
}
.sel select,
.sel2 select,
.sel-year select,
.sel2-year select,
.sel-tyre select,
.sel-tyre2 select,
.sel-disk select,
.sel-disk2 select,
.sel-disk3 select {
  width: 95px;
  background: transparent;
  font-size: 10px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 18px;
  -webkit-appearance: none;
}
.sel,
.sel2,
.sel-year,
.sel2-year,
.sel-tyre,
.sel-tyre2,
.sel-disk,
.sel-disk2,
.sel-disk3 {
  width: 102px;
  height: 18px;
  margin: 5px 0 0 5px;
  overflow: hidden;
  background: url(../img/strelka-box.png) no-repeat right #fff;
  box-shadow: inset 1px 1px 0 0 #0c3256;
  border-radius: 2px;
}
.sel{
  margin: 5px 0 0 -1px;
}
.sel-year select,
.sel-year{
  width: 57px;
  margin: 5px 0 0 -1px;
}
.sel2-year select,
.sel2-year{
  width: 57px;
  margin: 3px 0 0 -3px;
}
.third-col{
  padding-left: 30px;
}
.sel2{
  margin: 3px 0 0 -3px;
}
.searching,
.searching-tyre,
.searching-disk{
  margin-right: 14px;
  float: right;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-style: italic;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.header-tyre,
.header-disk{
  padding-left: 10px;
  text-align: left;
  text-transform: lowercase;
}
.tyre-main{
  width: 165px;
  margin-left: 15px;
  margin-right: 15px;
  display: table;
}
.first-coltyre{
  width: 40px;
}
.first-coltyre p{
  margin-top: 12px;
}
.modelR{
  text-align: right;
}

.tyre-search{
  height: 133px;
  width: 191px;
  float: left;
  border: 1px solid #b0b0b1;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 #919191;
}
.selections-tyre{
  width: 59px;
}
.sel-tyre select,
.sel-tyre,
.sel-tyre2{
  width: 50px;
  box-shadow: inset 1px 1px 3px 1px #919191;
}
.sel-tyre2 select,
.sel-tyre2{
  width: 40px;
}
.checky{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #000;
}
.checky input:hover,
.checky label:hover{
  cursor: pointer;
}
.check {
  padding: 4px;
	-webkit-appearance: none;
	border: 1px solid #bdbdbd;
	box-shadow: inset 1px 1px 0 0 #000;
	border-radius: 1px;
	display: inline-block;
  vertical-align: middle;
	position: relative;
}
.check:checked:after {
	content: '✓';
	font-size: 9px;
  font-weight: 900;
	position: absolute;
	top: -3px;
	left: 1px;
	color: #000;
}
.third-tyre{
  display: table-cell;
  width: 5px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #000;
}
.forth-tyre{
  width: 40px;
  display: table-cell;
}
.searching-tyre{
  margin: -5px 11px 0 0;
}

.disk-search{
  height: 133px;
  width: 266px;
  margin-left: 10px;
  margin-right: 6px;
  float: right;
  border: 1px solid #b0b0b1;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 #919191;
  position: relative;
}
.disk-main{
  height: 105px;
  width: 164px;
  margin: 3px 5px 0 10px;
  border-right: 1px solid #77858b;
}
.header-disk{
  padding-left: 0;
  letter-spacing: 1.9px;
}
.disk-inside{
  display: table-cell;
}
.disk-inside p{
  margin-top: -3px;
  margin-left: 5px;
  padding-top: 3px;
}
.disk-selections{
  padding-left: 13px;
  display: table-cell;
}
.sel-disk select,
.sel-disk,
.sel-disk3 select,
.sel-disk3{
  width: 57px;
}
.sel-disk2 select,
.sel-disk2{
  width: 50px;
}
.sel-disk,
.sel-disk2{
  margin-top: 9px;
}
.disk-rest{
  height: 123px;
  width: 72px;
  position: absolute;
  top: 5px;
  right: 11px;
}
.disk-text p{
  margin-left: 3px;
}
.sel-disk3{
  margin-top: 2px;;
}
.searching-disk{
  margin: 3px 1px 0 0;
}

.main-section{
  height: 650px;
  margin: 18px 0 0;
}
.sidebar1{
  height: 400px;
  width: 183px;
  margin-right: 8px;
  float: left;
}
.catalog,
.brends{
  height: 26px;
  width: 180px;
  margin-top: 2px;
  border: 1px solid #79878d;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 2px 4px 0 #bdbdbd;
}
.icon-cat,
.brend-icon{
  float: left;
  position: absolute;
  top: 1px;
  left: 2px;
}
.catalog p,
.brends p{
  line-height: 28px;
  margin-left: 27px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #0c3256;
}
.tyres,
.tyres2{
  height: 26px;
  width: 148px;
  margin: 13px auto 9px 1px;
  border: 1px solid #79878d;
  border-radius: 20px;
  position: relative;
}
.tyr-back,
.tyr-back2{
  height: 20px;
  width: 20px;
  float: left;
  background: #0c3256;
  border-radius: 20px;
  position: relative;
  top: 3px;
  left: 5px;
}
.tyr-icon,
.tyr-icon2{
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.tyres p,
.tyres2 p{
  line-height: 28px;
  margin-left: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #465961;
}
.tyres ul{
  margin-left: 49px;
  line-height: 28px;
  margin-top: -4px;
  list-style-image: url(../img/list-marker.png);
}
.tyres ul li{
  width: 120px;
  margin-top: -3px;
}
.tyres ul li a{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #465961;
  text-decoration: none;
}
.tyres ul li a:hover{
  text-decoration: underline;
  color: #0c3256;
  font-style: oblique;
  font-weight: 600;
}
.disks,
.bolts,
.disks2{
  height: 26px;
  width: 148px;
  margin: 100px auto 9px 1px;
  border: 1px solid #79878d;
  border-radius: 20px;
  position: relative;
}
.disk-back,
.bol-back,
.disk-back2{
  height: 20px;
  width: 20px;
  background: #0c3256;
  border-radius: 20px;
  float: left;
  position: relative;
  top: 3px;
  left: 4px;
}
.disk-icon,
.bol-icon,
.disk-icon2{
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.disks p,
.bolts p,
.disks2 p{
  margin-left: 30px;
  line-height: 28px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #465961;
}
.disks ul,
.bolts ul{
  margin-left: 49px;
  margin-top: -4px;
  line-height: 28px;
  list-style-image: url(../img/list-marker.png);
}
.disks ul li,
.bolts ul li{
  width: 120px;
  margin-top: -4px;
}
.disks ul li a,
.bolts ul li a{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #465961;
  text-decoration: none;
}
.disks ul li a:hover,
.bolts ul li a:hover{
  text-decoration: underline;
  color: #0c3256;
  font-style: oblique;
  font-weight: 600;
}

main{
  height: 627px;
  width: 526px;
  float: left;
  background: linear-gradient(#e5e7e8, #93a7b0);
  position: relative;
}
.container{
  padding: 15px 0px 30px 0;
  display: block;
}
.content-tyres{
  width: 137px;
  margin: 0 3px 25px 23px;
  display: inline-block;
  text-align: center;
}
.content-tyres a,
.about{
  display: block;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 15px;
  color: #206988;
  font-weight: bold;
  text-decoration: none;
}
.about2{
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #1f2528;
  text-decoration: none;
}
.photo{
  height: 125px;
  width: 137px;
  margin-bottom: 4px;
  background: #fff;
  border: 1px solid #a1b3bb;
  border-radius: 10px;
  position: relative;
}
.photo img{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
}
.price{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 16px;
  color: #114165;
  font-weight: bold;
  font-style: italic;
}
.price2{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #114165;
  font-weight: bold;
  font-style: italic;
}

.sidebar2{
  height: 300px;
  width: 183px;
  float: right;
}
.brends{
  margin-top: 1px;
}
.brends p{
  margin-left: 30px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.brend-icon{
  top: 0px;
}
.tyres2{
  width: 135px;
  margin: 13px auto 9px 14px;
}
.tyres2 p{
  letter-spacing: 0.9px;
}
.brend-choice{
  margin-top: 2px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #465961;
}
.brend-choice input{
  margin: 7px 10px 8px 11px;
}
.brend-choice input:hover,
.brend-choice label:hover{
  cursor: pointer;
}
.checkbox {
  padding: 4px;
	-webkit-appearance: none;
	border: 1px solid #0c3256;
	box-shadow: inset 1px 1px 0 0 #0c3256;
	border-radius: 1px;
	display: inline-block;
  vertical-align: middle;
	position: relative;
}
.checkbox:checked:after {
	content: '✓';
	font-size: 9px;
  font-weight: 900;
	position: absolute;
	top: -3px;
	left: 1px;
	color: #000;
}
.disks2{
  width: 136px;
  margin: 86px auto 9px 13px;
}
.disks2 p{
  letter-spacing: 1px;
}
.select{
  height: 27px;
  position: absolute;
  top: 114px;
  left: -2px;
  width: 82px;
  line-height: 23px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 11px;
  color: #e5e9ea;
  background: linear-gradient(#206988, #114165, #0c3256);
  border: 1px solid #a7abae;
  border-radius: 30px;
  text-transform: uppercase;
}

figure{
  height: 45px;
  width: 700px;
  margin: 6px auto 16px auto;
}
.sponsors{
  width: 700px;
  line-height: 40px;
  text-align: center;
}
.s1, .s2, .s3, .s4,
.s5, .s6, .s7, .s8{
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

footer{
  height: 100px;
  margin: 0 auto;
  background: #213a4d;
  text-align: center;
  border: 1px solid #242a3c;
}
footer ul{
  display: inline-block;
  line-height: 31px;
}
footer ul li{
  margin: 0 auto;
  padding: 0 8px;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 1px 1px 2px #000;
  font-size: 12px;
  font-family: Arial, Tahoma, sans-serif;
  color: #bec6c9;
}
footer span{
  color: #bec6c9;
  font-size: 12px;
}
footer ul li a{
  color: #bec6c9;
  text-decoration: none;
}
footer ul li:hover{
  color: #52abcb;
  cursor: pointer;
}
footer ul li:hover a{
  color: #52abcb;
}
footer small{
  font-size: 10px;
  font-family: Arial, Tahoma, sans-serif;
  color: #7f4740;
}
