.movies-list {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f1ef;

    @media screen and (max-width: 700px) {
        flex-wrap: nowrap;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #f2f1ef;
    position: relative;
}

.toFavouritesLink {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline-block;
    background: #1BBC9B;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background: #336E7B;
    }
}

.home-title {
    margin-top: 0;
    text-align: center;
}

.wrapper {
    margin-top: -35px;
    text-align: center;
}
.load-more {
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    background: #1BBC9B;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background: #336E7B;
    }
}
