*{
  margin: 0;
  padding: 0;
}

.wrapper{
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  padding-bottom: 30px;
  text-align: center;
  background: #35a541;
  box-shadow: 3px 3px 5px 0 #bdbdbd;
}

.title{
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  display: inline-block;
}
.title-text{
  margin: 0 auto;
  line-height: 30px;
  font-family: 'Zantroke', Arial, sans-serif;
  font-size: 40px;
  color: #fff;
  text-shadow: rgb(48, 149, 59) 1px 1px,
    rgb(48, 149, 59) 2px 2px,
    rgb(48, 149, 59) 3px 3px,
    rgb(48, 149, 59) 4px 4px,
    rgb(48, 149, 59) 5px 5px,
    rgb(48, 149, 59) 6px 6px,
    rgb(48, 149, 59) 7px 7px,
    rgb(48, 149, 59) 8px 8px,
    rgb(48, 149, 59) 9px 9px,
    rgb(48, 149, 59) 10px 10px,
    rgb(48, 149, 59) 11px 11px,
    rgb(48, 150, 59) 12px 12px,
    rgb(48, 151, 60) 13px 13px,
    rgb(49, 153, 60) 14px 14px,
    rgb(49, 154, 61) 15px 15px,
    rgb(50, 155, 61) 16px 16px,
    rgb(50, 157, 62) 17px 17px,
    rgb(50, 158, 62) 18px 18px,
    rgb(51, 159, 63) 19px 19px,
    rgb(51, 161, 63) 20px 20px,
    rgb(52, 162, 64) 21px 21px,
    rgb(52, 163, 64) 22px 22px,
    rgb(53, 165, 65) 23px 23px;
}

.questions{
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
.first,
.second,
.third{
  margin-bottom: 30px;
}
.questions-title{
  font-family: 'Zantroke', Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  text-shadow: rgb(48, 149, 59) 1px 1px,
    rgb(48, 149, 59) 2px 2px,
    rgb(48, 149, 59) 3px 3px,
    rgb(48, 149, 59) 4px 4px,
    rgb(48, 149, 59) 5px 5px,
    rgb(48, 149, 59) 6px 6px,
    rgb(48, 150, 59) 7px 7px,
    rgb(49, 152, 60) 8px 8px,
    rgb(49, 154, 61) 9px 9px,
    rgb(50, 156, 61) 10px 10px,
    rgb(50, 157, 62) 11px 11px,
    rgb(51, 159, 63) 12px 12px,
    rgb(51, 161, 63) 13px 13px,
    rgb(52, 163, 64) 14px 14px,
    rgb(53, 165, 65) 15px 15px;
}

#radio1,
#radio2,
#radio3,
#radio4,
#radio5,
#radio6,
#radio7,
#radio8,
#radio9{
  margin-top: 7px;
  margin-left: 20px;
}
label{
  margin-left: 5px;
  color: #fff;
}

#buttonCheck{
  height: 40px;
  width: 30%;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  font-family: 'Zantroke', Arial, sans-serif;
  transition: background-color .3s;
}
#buttonCheck:hover, .btn:focus {
  background-color: #27ae60;
}

@media screen and (max-width: 715px) {
  .wrapper{
    width: 100%;
  }
  .title-text{
    font-size: 40px;
  }
  #buttonCheck{
    width: 45%;
  }
}

@media screen and (max-width: 550px) {
  .title-text{
    font-size: 30px;
  }
  #buttonCheck{
    width: 55%
  }
}
