*{
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
}
.wrapper{
  height: 100%;
  width: 100%;
  background: #F0DB4F;
  position: relative;
}
.JavaScript{
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.JavaScript p{
  font-family: 'Futura Bold', "Trebuchet MS", Arial, sans-serif;
  color: #000;
  font-size: 200px;
}
