.back{
  background-color: #EEEEEE;
}

.header{
  margin-top: 50px;
  font: bold 20px Arial sans-serif;
  text-align: center;
}

#photo{
    display: block;
    margin: auto;
    max-height: 230px;
    max-width: 230px;
}

.main{
    margin: auto;
    padding: 20px 40px;
    height: 842px;
    width: 595px;
    background-color: white;
    text-align: center;
    border: 2px solid #E0E0E0;
}

.student,
.main_text,
.whylist,
.phone,
.vk,
.feedback{
    margin-left: 20px;
    margin-right: 20px;
    font: 15px Arial sans-serif;
    text-align: left;
}

hr{
  margin-left: 10px;
  margin-right: 10px;
}
