/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 95%;
  margin: 8px;
  position: relative;

   a{
     text-decoration: none;
     color: #fff;
   }
}
.tile_header{
  width: 90%;
  margin: 0;
  font-family: $montsBold;
  font-size: 22px;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.grid-item {
  height: 121px;
  overflow: hidden;
  border-radius: 7px;
  float: left;
}
.grid-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
}
