// media for more than 993px
@media screen and (min-width: 993px) {
  header,
  .main,
  footer{
    width: 100%;
    min-width: 993px;
    max-width: 1199px;
  }
  .tiles{
    width: 100%;
    min-width: 993px;
    max-width: 1000px;
  }
  .grid-sizer,
  .grid-item {
    width: 31%;
    max-width: 310px;
  }
  .grid-item:nth-child(6),
  .grid-item:nth-child(7){
    width: 64%;
    max-width: 640px;
  }

  header h3{
    margin-left: 250px;
  }
  .auth{
    margin-right: 250px;
  }

  .step1,
  .step2,
  .step3{
    width: 300px;
  }
  .slider1 span,
  .slider2 span,
  .slider3 span{
    width: 300px;
    background: url(../img/steps-sprite-desk.png) no-repeat 0 0;
  }
  .slider1 span:nth-child(2),
  .slider2 span:nth-child(2),
  .slider3 span:nth-child(2){
    background-position: -303px 0;
  }
  .slider1 span:nth-child(3),
  .slider2 span:nth-child(3),
  .slider3 span:nth-child(3){
    background-position: -604px 0;
  }
  .sssprev,
  .sssnext{
    top: 38%;
  }
  .sssprev{
    left: 8%;
  }
  .sssnext{
    right: 8%;
  }

  .partners{
    width: 100%;
    max-width: 1005px;
    margin: 0 auto;
  }
  .partners__column1,
  .partners__column2{
    display: block;
  }
  .first,
  .third{
    float: left;
  }
  .first{
    margin-left: 17px;
  }
  .second{
    margin-right: 257px;
    margin-left: -5px;
    float: right;
  }
  .third{
    margin-right: -10px;
    margin-left: -10px;
  }
  .fourth{
    margin-right: -488px;
    float: right;
  }
  .see_others{
    margin-bottom: -18px;
    transform: translateY(-50%);
    clear: both;
  }
}

// media queries for desktop
@media screen and (min-width: 1200px) {
  header,
  .main,
  footer{
    width: 100%;
    max-width: 1440px;
  }
}

@media screen and (min-width: 1300px) {
  footer h2,
  .footer__nav,
  .footer-partner,
  .footer__labe{
    margin-top: 38px;
  }
  footer h2{
    left: 250px;
  }
  .footer__nav{
    margin-bottom: 21px;
    left: 490px;
  }
  .footer-partner{
    right: 730px;
  }
  .footer__labe{
    margin-top: 25px;
    position: absolute;
    right: 248px;
  }
}
