.sss {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 30px;
	height: 62px;
	margin: 0;
	display: none;
	position: absolute;
	top: 9%;
	opacity: .5;
	transition: all .3s;
	z-index: 20;
	background: url('../img/arrows-sprite.png') no-repeat;
}

.sssprev {
	left: 4%;
	background-position: 0 50%;
}
.sssnext {
	right: 4%;
	background-position: -31px 50%;
}

.sssprev:hover, .sssnext:hover {
	opacity: 1;
	cursor: pointer;
}


// @media screen and (min-width: 320px) and (max-width: 768px) {
@media screen and (min-width: 320px) {
	.sssnext, .sssprev {
		display: block;
	}
}
