@import "MontserratBold.scss";
@import "MontserratRegular.scss";
@import "RobotoThin.scss";
@import "variables.scss";
@import "sss.scss";

html,
body{
  width: 100%;
  color: $color-primary;
}

// header
header{
  height: 556px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  font-family: $montsBold;
  background: url(../img/bannerMobile.jpg) 0 16px;
  position: relative;

  a{
    text-decoration: none;
    color: $color-primary;
    cursor: pointer;
  }
  h3{
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 20px;
  }
}
.auth{
  margin-top: -16px;
  font-size: 14px;
}
.logging,
.signing{
  display: inline-block;

  p{
    height: 32px;
    width: 88px;
    margin-top: 37px;
    line-height: 34px;
    border: 2px solid $color-primary;
    border-radius: 40px;
  }
}
.logging p{
  width: auto;
  margin-right: 14px;
  border: none;
}
.signing p:hover{
  background: rgba(255, 255, 255, .3);
}
.title{
  font-size: 30px;
  text-transform: uppercase;
}
.header_title{
  margin-top: 28px;
  margin-bottom: -8px;
}
.text{
  font-family: $roboto;
  font-size: 18px;
}
.header_text{
  width: 230px;
  margin: 18px auto 17px auto;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.link{
  height: 40px;
  width: 280px;
  margin: 0 auto;
  line-height: 41px;
  font-size: 14px;
  border-radius: 40px;

  &:hover{
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, .3);
  }
}
.header_link{
  background: $color-red;
}

// основная часть
.main{
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
// шаги
.steps{
  text-align: left;

  a{
    color: $color-primary;
    text-decoration: none;
  }
}
.section__header{
  width: 300px;
  margin: 34px auto 14px auto;
  font-family: $montsBold;
  font-size: 22px;
  color: #333;
  text-align: center;
}
.step1,
.step2,
.step3{
  height: 240px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 7px;
}
.slider1 span,
.slider2 span,
.slider3 span{
  height: 240px;
  width: 300px;
  background: url(../img/steps-sprite.png) no-repeat 0 0;
}
.slider1 span:nth-child(2),
.slider2 span:nth-child(2),
.slider3 span:nth-child(2){
  background-position: 0 -241px;
}
.slider1 span:nth-child(3),
.slider2 span:nth-child(3),
.slider3 span:nth-child(3){
  background-position: 0 -482px;
}
.steps__overlay{
  @extend .step1;
  position: relative;
}
.steps__content{
  display: table-cell;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.steps__btn,
.steps_title,
.steps_text{
  margin: 0 20px 0px 20px;
}
.steps_title{
  margin-top: 14px;
  margin-bottom: 10px;
  line-height: 28px;

  a{
    font-family: $montsBold;
    font-size: 24px;
    text-transform: none;
  }
}
.steps__btn{
  height: 20px;
  width: 70px;
  padding-left: 2px;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  line-height: 18px;
  background: $color-red;
  border-radius: 20px;

  a{
    font-family: $montsRegular;
    font-size: 10px;
    text-transform: uppercase;
  }
  &:hover{
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, .3);
  }
}
.steps_text{
  margin-bottom: 16px;
  font-family: $roboto;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}

// партнеры
.partners{
  color: #333;
}
.partners__partner {

  h3{
    margin-top: 18px;
    font-family: $montsBold;
    font-size: 14px;
    color: #333;
  }
  span{
    height: 120px;
    width: 123px;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    background: url(../img/partners-sprite.png) no-repeat 0 0;
  }
}
.second span{
  background-position: 0 -121px;
}
.third span{
  background-position: 0 -242px;
}
.fourth span{
  background-position: 0 -363px;
}
.partners__icons{
  position: relative;
}
.partners__send p{
  height: 41px;
  width: 41px;
  display: block;
  border-radius: 100%;
  background: url(../img/sendIcon-sprite.png) no-repeat 0 0;
  position: absolute;
  right: 95px;
  bottom: -22px;

  &:hover{
    box-shadow: 0 0 7px 3px #919191  ;
  }
}
.second .partners__send p{
  background-position: 0 -41px;
}
.third .partners__send p{
  background-position: 0 -82px;
}
.fourth .partners__send p{
  background-position: 0 -123px;
}
.partners_text{
  width: 215px;
  margin: 14px auto 28px auto;
  font-size: 14px;
  line-height: 16px;
  color: #666;
}
.see_others{
  line-height: 38px;
  display: block;
  border: 2px solid $color-red;
  border-radius: 40px;
  box-sizing: border-box;

  &:hover{
    box-shadow: 0 0 8px 4px rgba(255, 78, 80, .3);
  }
  a{
    font-family: $montsBold;
    color: $color-red;
    text-decoration: none;
  }
}

// плитки
.tile{
  margin-top: -2px;
  margin-bottom: 11px;
  text-align: center;
  text-align: -webkit-center;
}
.tile__image{
  height: 121px;
  width: 300px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  background: url(../img/ideaExample.jpg) no-repeat 0 0;
}
.tile_header{
  margin: 0;
  color: #fff;
}
.tiles_text{
  margin-top: -5px;
  margin-bottom: 15px;
  letter-spacing: 0.2px;
  color: #333;
}
.tiles__input{
  height: 40px;
  width: 280px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: $roboto;
  font-size: 14px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #eee;
  box-sizing: border-box;
}
.search_partners{
  @extend .header_link;
  margin-bottom: 40px;
  display: block;

  &:hover{
    box-shadow: 0 0 8px 4px rgba(255, 78, 80, .3);
  }
  a{
    font-family: $montsBold;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }
}

// footer
footer{
  width: 320px;
  margin: 0 auto;
  text-align: center;
  border-top: 5px solid $color-red;
  box-sizing: border-box;

  h2{
    margin-top: 15px;
    font-family: $montsBold;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: $color-red;
    text-transform: uppercase;
  }
}
.footer__title{
  margin-top: -1px;
  margin-bottom: 2px;
  font-family: $montsBold;
  font-size: 14px;
  color: #333;
}
.menu{
  margin-top: 2px;
  margin-bottom: 14px;
  padding-left: 0;
}
.menu__item{
  display: inline-block;
  padding-right: 10px;

  a{
    @extend .partners_text;
    font-family: $roboto;
    text-decoration: none;

    &:hover{
      color: #000;
    }
  }
}
.menu__item:last-child{
  padding: 0;
}
.design{
  margin-top: 14px;
  margin-bottom: -3px;
  display: block;
  font-family: $montsBold;
  font-size: 10px;
  letter-spacing: 1px;
  color: #ccc;
  text-transform: uppercase;
}
.footer__logo{
  height: 24px;
  width: 110px;
  margin: 10px auto 20px auto;
  display: block;
  background: url(../img/footerLogo.png);
}

// syles for tablet
@import "mediaqueries-tablet.scss";

// styles for desktop
// @import "mediaqueries-desktop.scss";
