html, body {
  background: #000;
}

#content {
  margin: 0 auto;
  padding: 20px;
  width: 700px;
}

.article-main h1 {
  color: #ff6d00;
  font-size: 24px;
}
.article-main p {
  color: #ffd180;
  text-align: justify;
  font-style: italic;
}
.article-main h3 {
  color: #ffab40;
  text-align: right;
}
