@import "reset";
@import "variables";

html,
body{
  background: #fff;
}

// logo properties
.logoMain{
  height: 42px;
  width: 1161px;
  margin: 0 auto;
  padding: 40px 0;
}
.logoImg,
.logoText{
  display: inline-block;
}
.logoImg{
  height: 37px;
  width: 52px;
  background: url(../img/paramIcons.png) no-repeat 0 0;
}
.companyName{
  font-family: $ubuntu;
  font-weight: 500;
  font-size: 30px;
  color: #434343;
  text-transform: capitalize;
}
.companyUnderName{
  font-family: $ubuntu;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

// social links behaviour
.socialLinks{
  line-height: 45px;
  float: right;
}
.facebookImg{
  height: 17px;
  width: 9px;
  margin-left: 20px;
  display: inline-block;
  background: url(../img/socialSprite.png) no-repeat 0 0;
  opacity: .2;
  transition: all .5s;
}
.twitterImg{
  @extend .facebookImg;
  width: 16px;
  background-position: -9px 0;
}
.rssImg{
  @extend .twitterImg;
  background-position: -27px 0;
}
.linkedInImg{
  @extend .twitterImg;
  background-position: -43px 0;
}
.skypeImg{
  @extend .twitterImg;
  width: 18px;
  background-position: -60px 0;
}
.facebookImg:hover{
  background: url(../img/socialSprite.png) no-repeat 0 -18px;
  opacity: 1;
}
.twitterImg:hover{
  @extend .facebookImg:hover;
  background-position: -9px -18px;
}
.rssImg:hover{
  @extend .facebookImg:hover;
  background-position: -27px -18px;
}
.linkedInImg:hover{
  @extend .facebookImg:hover;
  background-position: -43px -18px;
}
.skypeImg:hover{
  @extend .facebookImg:hover;
  background-position: -60px -18px;
}

// main navigation menu
.content nav{
  height: 50px;
  width: 1161px;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 50px;
  font-family: $ubuntuCondensed;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(42, 45, 50, 0.95);
}
.menu{
  display: block;

  li{
    width: 65px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    float: left;
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, .4);
  }
  .blue{
    background: #248cec;
  }
  li:hover{
    color: #f4b60d;
  }
  a{
    color: #fff;
  }
}
.searchBox{
  height: 34px;
  width: 200px;
  margin: 8px;
  padding-left: 10px;
  float: right;
  font-size: 14px;
  color: #fff;
  background: rgba(255, 255, 255, .05);
  border: 1px solid #181a1d;
  box-sizing: border-box;
}
.searchBox::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, .3);
}
.searchBoxStart p{
  height: 18px;
  width: 17px;
  float: right;
  background: url(../img/paramIcons.png) no-repeat -41px -38px;
  transform: translate(200px, 17px);
  opacity: .3;
  transition: all 0.5s;
}
.searchBoxStart p:hover{
  opacity: 1;
}

// main information
.mainInfo{
  width: 1161px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
.mainInfo a{
  text-decoration: none;
}
.mainInfo__first{
  width: 250px;
  margin: 40px 15px 40px 0;
  font-size: 13px;
  text-align: left;
  display: inline-block;
}
.mainInfo__second{
  @extend .mainInfo__first;
}
.mainInfo__third{
  @extend .mainInfo__first;
  margin-right: 0;
}
.mainInfo__number{
  margin-right: 13px;
  display: inline-block;
  font-family: $ubuntu;
  font-weight: 500;
  font-size: 90px;
  color: rgba(42, 43, 46, .1);
  transform: translateY(-95%);
}
.mainInfo__logo{
  height: 34px;
  width: 34px;
  margin-bottom: 15px;
  background: url(../img/paramIcons.png) -51px 0 no-repeat;
}
.mainInfo__second .mainInfo__logo{
  @extend .mainInfo__logo;
  background-position: -84px 0;
}
.mainInfo__third .mainInfo__logo{
  @extend .mainInfo__logo;
  background-position: -118px 0;
}
.main-title{
  width: auto;
  margin: 0 0 15px 0;
  font-family: $ubuntu;
  font-size: 20px;
  font-weight: 500;
  color: #2a2b2e;
  text-transform: capitalize;
}
.main-text{
  height: 50px;
  margin: 0 0 10px 0;
  line-height: 17px;
  font-family: Arial, sans-serif;
  color: #8a8a8a;
  overflow: hidden;
}
.mainInfo__readMore{
  width: 85px;
  font-family: $ubuntu;
  font-weight: 500;
  color: #2a2b2e;
}
.mainInfo__readMore:hover{
  color: #248cec;
}

// Services
.services{
  width: 100%;
  font-family: $ubuntu;
  font-weight: 500;
  background: #2a2d32;

  h2{
    margin-left: 10px;
    padding-top: 30px;
    color: #fff;
    text-align: left;
    font-size: 24px;
  }
  a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  p{
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.container{
  width: 1161px;
  margin: 0 auto;
  text-align: center;


}
.services__first,
.services__second,
.services__third,
.services__fourth{
  margin: 40px 30px 0 0;
  display: inline-block;
}
.services__fourth{
  margin-right: 0;
}
.services__overlay{
  height: 260px;
  width: 260px;
  background: url(../img/overlay.png);
}
.services__img{
  height: 260px;
  width: 260px;
  background: url(../img/services.png) no-repeat 0 0;
  transition: all .5s
}
.services__second .services__img{
  background-position: -262px 0;
}
.services__third .services__img{
  background-position: -524px 0;
}
.services__fourth .services__img{
  background-position: -786px 0;
}
.services__first a:hover .services__img,
.services__second a:hover .services__img,
.services__third a:hover .services__img,
.services__fourth a:hover .services__img{
  opacity: .2;
}
.services__first a:hover,
.services__second a:hover,
.services__third a:hover,
.services__fourth a:hover{
  color: #f4b60d;
}

// news
.additional{
  background: #fafafa;

  .container{
    display: table;
  }
}
.news{
  margin-right: 10px;
}
.news,
.banners{
  width: 565px;
  // display: inline-block;
  display: table-cell;
  vertical-align: top;
  font-family: $ubuntu;
  font-weight: 500;
  text-align: left;

  h2{
    margin: 50px 0 30px 20px;
    color: #2a2d32;
    font-size: 24px;
    text-transform: capitalize;
  }
}
.news-first__img,
.news-first__main{
  display: inline-block;
}
.news-first__img{
  margin: 0 10px 10px 10px;
  text-align: center;
  position: relative;
}
.main-icon{
  height: 150px;
  width: 150px;
  background: url(../img/engineer-design.jpg) no-repeat -109px 0;
}
.month-icon{
  height: 35px;
  width: 35px;
  line-height: 35px;
  background: #248cec;
  position: absolute;
  top: 10px;
  left: -10px;
}
.month-icon p{
  font-size: 15px;
  color: #fff;
}
.date-icon{
  @extend .month-icon;
  background: #f4b60d;
  top: 45px;
}
.date-icon p{
  font-size: 18px;
  color: #2a2b2e;
}
.news-first__main{

  .main-title,
  .comment,
  .main-text{
    display: block;
  }
  .main-title a{
    @extend .main-title;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  .main-title a:hover{
    color: #248cec;
  }
  .comment{
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #9d9d9d;

    .comment-by a,
    .comment-quantity a{
      color: #0187f4;
      text-decoration: none;
    }
  }
  .main-text{
    height: 70px;
    width: 360px;
    font-size: 13px;
    letter-spacing: -0.5px;
  }
}
.first-main{
  transform: translateY(-10px);
}
// second news
.news-second__img,
.news-second__main{
  display: inline-block;
}
.news-second__img{
  @extend .news-first__img;

  .main-icon{
    background: url(../img/engineer.jpg) no-repeat 0 0;
  }
}
.news-second__main{

  .main-title,
  .comment,
  .main-text{
    display: block;
  }
  .main-title a{
    @extend .main-title;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  .main-title a:hover{
    color: #248cec;
  }
  .comment{
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #9d9d9d;

    .comment-by a,
    .comment-quantity a{
      color: #0187f4;
      text-decoration: none;
    }
  }
  .main-text{
    height: 70px;
    width: 360px;
    font-size: 13px;
    letter-spacing: -0.5px;
  }
}
.second-main{
  @extend .first-main;
  // удали это позже
  margin-bottom: 100px;
}

// accordion panels
#accordion {
  padding: 0;
  width: 545px;
}
.accordionPanel {
  margin: 5px 0;
  line-height: 33px;
  display: block;
  font-family: $ubuntu;
  font-weight: 500;
  font-size: 13px;
  color: #2a2d32;
  background: #fff;
  border: 1px solid #eee;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s;

  p{
    padding: 0 7px;
    margin-right: 10px;
    float: left;
    height: 33px;
    width: 20px;
    background: url(../img/icon_plus.png) no-repeat 50% 50%;
    border-right: 2px solid #eee;
    transition: all .5s;
  }
}
.accordion-content{
  padding: 33px 0px 33px 33px;
  display: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #8a8a8a;
  text-decoration: none;
}
.accordion-content.default {
  display: block;
}
.active{
  color: #fff;
  background: #f4b60d;
  transition: all .5s;

  p{
    background: url(../img/icon_minus.png) no-repeat 50% 50%;
    border-right: 1px solid rgba(255, 255, 255, .5);

    transition: all .5s;
  }
}

// figure sponsors
figure{
  height: 300px;
  line-height: 300px;
  text-align: center;
}
.sponsors{
  height: 70px;
  width: 1161px;
  display: block;
  margin: 0 auto;
  padding: 115px 0;

  li{
    height: 65px;
    width: 150px;
    float: left;
    list-style: none;
    background: url(../img/labels.png) no-repeat 0 0;
  }
  li:nth-child(2){
    width: 165px;
    background-position: -160px 0;
  }
  li:nth-child(3){
    width: 270px;
    background-position: -330px 0;
  }
  li:nth-child(4){
    width: 190px;
    background-position: -600px 0;
  }
  li:nth-child(5){
    width: 200px;
    background-position: -800px 0;
  }
  li:last-child{
    background-position: -1000px 0;
  }
}

// footer
footer{
  background: #2a2d32;
  text-align: center;
}
.bottomLinks{
  width: 1161px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.socials,
.links,
.blogroll,
.aboutUs{
  margin-right: 30px;
  display: inline-block;
  text-align: left;

  h3{
    margin: 40px 0;
    font-family: $ubuntu;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
}
.footerMenu{
  display: block;

  li{
    height: 30px;
    line-height: 30px;
    width: 250px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
  }
  li:last-child{
    border-bottom: none;
  }
  a{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    transition: all .5s
  }
  a:hover{
    color: #248cec;
  }
}
.aboutUs{
  margin-right: 0;
}
// bottom properties
.bottom{
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, .05);
}
.bottom-overlay{
  width: 1161px;
  margin: 0 auto;
  text-align: center;

  p{
    float: left;
  }
  span{
    float: right;
  }
}
.bottom-icon{
  height: 16px;
  width: 12px;
  margin: 17px 10px 17px 30px;
  background: url(../img/paramIcons.png) no-repeat 0 -37px;
  opacity: .3;
}
.bottom-icon:nth-child(3){
  background-position: -12px -37px;
}
.bottom-icon:nth-child(5){
  width: 17px;
  background-position: -24px -37px;
}
.bottom-text{
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, .3);
  transition: all .5s;

  a{
    @extend .bottom-text;
    text-decoration: none;
  }
  a:hover{
    color: #248cec;
  }
}
.rights{
  @extend .bottom-text;
  margin-right: 30px;
  text-transform: capitalize;
}
