@import "containers/index";
@import "modules/index";

body {
    margin: 0;
    padding: 0;
}

.favourite {
    &-page {
        max-width: 1200px;
        margin: 0 auto;
        background: #f2f1ef;
        position: relative;
    }

    &-title {
        margin-top: 0;
        padding-top: 30px;
        text-align: center;
    }

    &-noMovie {
        padding-bottom: 50px;
        text-align: center;
    }
}