*{
  margin: 0;
  padding: 0;
}

.wrapper{
  height: 700px;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  background: #00897B;
}

.container{
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

.tabs-menu li{
  float: left;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #80CBC4;
}
.tabs-menu li a {
  text-transform: uppercase;
  color: #B2DFDB;
  text-decoration: none;
}
.tabs-menu li:hover{
  background: #009688;
}
.tabs-menu .current{
  background: #004d40;
}
.tabs-menu .current a{
  color: #FFF;
}

.tabs{
  width: auto;
  clear: both;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #004d40;
  color: #e0f2f1;
}
.tab-content{
  width: auto;
  height: auto;
  min-height: 300px;
  padding: 15px;
  display: none;
  text-align: left;
}
#tab-1{
  padding: 50px;
  font-size: 30px;
  line-height: 50px;
  text-align: justify;
  display: block;
}
#tab-2{
  padding: 50px;
}
#tab-3{
  padding: 50px;
  font-size: 30px;
  line-height: 50px;
  text-align: justify;
}

.form1,
.form2,
.form3{
  position: relative;
  float: left;
  clear: both;
  font-size: 30px;
}
.form1 input{
  height: 20px;
  margin: 15px 0 15px 87px;
}
.form2 input{
  height: 20px;
  margin: 15px 0 15px 25px;
}
.form3 input{
  height: 20px;
  margin: 15px 0 15px 62px;
}
.form1 p,
.form2 p,
.form3 p{
  height: 40px;
  width: 160px;
  padding: 20px 12px 10px;
  display: none;
  font-size: 15px;
  text-align: center;
  color: #e0f2f1;
  background: rgba(77, 182, 172, 0.5);
  border-radius: 10px;
	position: absolute;
	top: -13px;
	left: 100px;
	z-index: 2;
}

@media (max-width: 540px) {
  #tab-1,
  #tab-3{
    font-size: 20px;
    line-height: 30px;
  }
  .form1,
  .form2,
  .form3{
    font-size: 20px;
  }
  .form1 input{
    margin: 15px 0 15px 68px;
  }
  .form3 input{
    height: 20px;
    margin: 15px 0 15px 50px;
  }
}
