.movie-card {
    margin: 10px;
    background: #fff;
    box-shadow: #ccc 3px 3px 3px;
    display: flex;
    flex: 1;
    flex-basis: 40%;

    @media screen and (max-width: 1015px) {
        flex-basis: 700px;
    }
}

.movie-poster {
    font-size: 0;
}

.movie-info {
    padding: 10px;
    position: relative;

    &__title {
        text-align: center;
        margin-bottom: 16px;
    }

    &__genres {
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 15px;
        font-style: italic;
        font-weight: 100;
    }

    &__ratings {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        .added::before {
            content: "\2605";
            position: absolute;
            left: 0;
            color: gold;
        }
    }
    &__star {
        margin-right: 5px;
    }

    &__description {
        display: block;
        display: -webkit-box;
        height: 96px;
        font-size: 16px;
        line-height: 1.2;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.movie-details {
    text-decoration: none;
    cursor: pointer;
}