.back{
  height: 100vh;
  background: #e0e0e0;
  position: relative;
}

.picture{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 430px;
  width: 430px;
  table-layout: fixed;
  text-align: center;
  border: 11px solid #e0e0e0;
  border-collapse: collapse;
  empty-cells: show;
  background: #fff;
}
td{
  border: 10px solid #000;
}
.table-rows{
  height: 65px;
}
.last{
  height: 32.5px
}
.tab{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 58px;
  height: 512px;
  width: 478px;
  border: 1px solid #000;
}
.yellow{
  background: #ffee58;
}
.red{
  background: #f4511e;
}
.blue{
  background: #283593;
}
.black{
  background: rgba(0, 0, 0, 0.95);;
}
