.back{
  height: 950px;
  width: 1366px;
  background-color: #f9f9f9;
}

.page{
  height: 950px;
  width: 1060px;
  margin: auto;
  background-color: #fff;
  box-shadow: 1px 0px 4px 1px #bdbdbd, -1px 0px 4px 1px #bdbdbd;  /* добавление тени для блока справа и слева */
}

.logo{
  height: 40px;
  width: 144px;
  margin: 50px 0px 40px 46px;
}

.menu{
    height: 38px;
    margin: 0px 46px;
    background-image: url(../img/header-back.png);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    border: 1px solid #000;
    letter-spacing: -4px;
}
.menu_items li{
  display: inline-block;
  line-height: 38px;
  letter-spacing: normal;
}
.menu_items a{
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.menu_items li:first-child a{
  padding-left: 18px;
  padding-right: 60px;
}
.menu_items li:nth-child(2) a{
  padding-left: 18px;
  padding-right: 18px;
  background-image: url(../img/selected-header.png);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}
.menu_items li:nth-child(3) a{
  padding-left: 60px;
  padding-right: 60px;
}
.menu_items li:last-child a{
  padding-left: 18px;
  padding-right: 18px;
}
.menu_items a:hover{
  background-image: url(../img/selected-header.png);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

.main{
  width: 1060px;
  margin: 40px 46px;
  overflow: hidden;
}
.sidebar{
  width: 240px;
  margin-right: 47px;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}
.sidebar_items{
  line-height: 38px;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}
.sidebar_items li:first-child,
.sidebar_items li:nth-child(2),
.sidebar_items li:nth-child(4),
.sidebar_items li:nth-child(5),
.sidebar_items li:last-child{
  padding-left: 18px;
  border-bottom: 1px solid #c8c8c8;
}
.sidebar_items li:nth-child(3){
  padding-left: 36px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #c8c8c8;
}
.sidebar_items a{
  display: block;
  color: #000;
  text-align: left;;
  text-decoration: none;
}
.sidebar_items a:hover{
  background-color: #f9f9f9;
  padding-left: 18px;
}

.textLorem{
  width: 630px;
  margin: 40px 68px 0px 309px;
  line-height: 1.5;
  color: #2c2c2c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

.footer{
  margin: 0px 46px;
  line-height: 40px;
  background-color: #e1e1e1;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  letter-spacing: -4px;
}
.footer_items li{
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
}
.footer_items a{
  display: block;
  color: #000;
  line-height: 40px;
  text-decoration: none;
}
.footer_items a:hover{
  text-decoration: underline;
}
.footer_items li:first-child a{
  padding-left: 22px;
  padding-right: 60px;
}
.footer_items li:nth-child(2) a{
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: underline;
}
.footer_items li:nth-child(3) a{
  padding-left: 60px;
  padding-right: 60px;
}
.footer_items li:nth-child(4) a{
  padding-left: 18px;
  padding-right: 18px;
}
.footer_items li:last-child{
  float: right;
  padding-right: 22px;
}
